<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Dojo Results</title>
</head>
<body>
  <div id="header" class="row dashboard-style">
    <h1 class="">Coding Dojo Wall</h1>
    <div class="info">
      <h2 class="">Welcome, {{ results.first_name }}:</h2>
      <a href="/logout"><p class="btn btn-primary">Log Out</p></a>
    </div>
  </div>
  <div class="row dashboard-content">
    <div class="col dashboard-style">
      <h2 class="row">{{ message_count }} Message(s) for You</h2>
      <hr class="mb-4 row">
      <div class="row">
         {% for message in all_messages %}
          <p>{{ message.sender_name }} said:</p>
          <p>{{ message.content }}</p>
          <a href="/delete/message/{{ message.id }}"><p class="btn-sm btn-primary">delete</p></a>
        {% endfor %}
      </div>
    </div>
    <div class="col dashboard-style">
      <h2 class="row">Send Messages</h2>
      <hr class="mb-4 row">
      <!-- displaying all the users and a way to create a message to send that user -->
      {% for user in all_users %}
        <div class="row">
          <p>{{ user.first_name }}#{{ user.id }}</p>
          <form action="/create/message" method="post">
            <textarea name="content" cols="30" rows="3"></textarea>
            <input type="hidden" name="recipient_id" value="{{ user.id }}">
            <input type="hidden" name="user_id" value="{{ session['user_id'] }}">
            <input type="submit" value="Send" class="btn-sm btn-warning">
          </form>
        </div>
      {% endfor %}

    </div>
  </div>
</body>
</html>